h1 {
    margin: 0 auto;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-bottom: 40px;
     color: #3E3E3E;
 }
 h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .btn{
      text-decoration: none !important;
      color: #3E3E3E !important;
      font-size: 28px;
 }

 .btn-danger{
    font-size: 12px;
}
 
 .size {
     font-size: 18px;
     padding-right: 30px;
 }
 
 .container {
     text-align: center;
     width: 800px;
     margin-top: 40px;
 }
 

 a {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: #F7F7F7;
 }