<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Genre</title>
<div class="background">
  <div class="container">
  <form #formdata="ngForm"(ngSubmit)="onSubmit(formdata.value)">
      <h2>{{ questions[0]['question'] }}</h2><br>
      <p *ngFor="let option of questions[0]['options']">
      <input 
        type='radio' 
        name="ans_selected" 
        value={{option}} ngModel>&nbsp;&nbsp; {{option}}</p>
      <input class="btn btn-primary" type="submit" value="Submit"><br>
  </form>
  <!-- Score: {{score}}  -->

  </div>
</div>
