<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Scores</title>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h2>Your Scores</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SCORE DATE </td>
            <td>SCORE</td>
          </tr>
        </tbody>
      </table>
      <br><br>
    </div>

    <div class="col-md-4 col-md-offset-2">
      <h2>High Scores</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>USERNAME WITH HIGHEST SCORE</td>
            <td>HIGHEST SCORE ASCENDING</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="navtoQuiz()">Play again</button>       
    </div>
    <br>
    <button class="btn btn-danger" (click)="navtoLogin()">Logout</button>           
  </div>
</div>
</body>
